.menu {
  color: mediumseagreen;
  font-size: larger;
  font-weight: bolder;
}
.parrafo {
  color: olive;
  font-style: italic;
}
.tituloparrafo {
  color: olive;
  font-weight: bolder;
  font-size: larger;
}
